*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    
}
.gameoverF{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 0px;
    left: 0px;
}
.gameoverB{
    width: 20%;
    height: 8%;
    margin: auto;
    margin-top: 20%;
    background-color: rgb(230, 0, 0);
    border: 2px solid black;
    border-radius: 25px;
}
.gameoverB:hover{
    cursor: pointer;
    background-color: gray;
    color: rgb(230, 0, 0);
}
#gameoverT{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.winF{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 0px;
    left: 0px;
}
.winB{
    width: 20%;
    height: 8%;
    margin: auto;
    margin-top: 20%;
    background-color: rgb(0, 128, 0);
    border: 2px solid black;
    border-radius: 25px;
}
.winB:hover{
    cursor: pointer;
    background-color: gray;
    color: rgb(0, 128, 0);
}
#winT{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 768px){
    
    .gameoverB{
        width: 50%;
        height: 10%;
        margin-top: 60%;
    }
    
    .winB{
        width: 50%;
        height: 10%;
        margin-top: 60%;
    }
    
}
