*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    
}
body{
    background-color: black;
}
.pawBuscaminas{
    background-image: url(../imagenes/fondoBuscaminas.jpg);
    padding: 1em;
    width: 60%;
    margin: auto;
    border: 10px solid rgb(77, 38, 0);
}
.pawBuscaminas td{
    border: 1px solid black;
    border-radius: 5px;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
}

.pawBuscaminas .panelDeControl .botonInicio:hover{
    cursor: pointer;
    
}
.pawBuscaminas .campoDeMinas{
    width: auto;
    margin: auto;
}

.pawBuscaminas .panelDeControl{
    font-size: 30px;
    color:lime;
    width: 50%;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    background-color: rgb(102, 68, 0);
    border-radius: 25px;
    border: 1.5px solid black;
}

h1{
    font-size: 40px;
    text-align: center;
    width: 20%;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    color: white;
}

.pawBuscaminas .panelDeControl div {
    display: inline-block;
    text-align: center;
    width: 33.33%;
}

.pawBuscaminas td.visibleVacio {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../imagenes/cesped.jpeg);
}

.pawBuscaminas td.blokeada {
    background-image: url(../imagenes/flag.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.pawBuscaminas td.oculto{
    background-image: url(../imagenes/cesped.jpeg);
    box-shadow: 3px 3px rgb(102, 51, 0);
    opacity: 0.85;
}

.pawBuscaminas td.oculto:hover{
    cursor: pointer;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../imagenes/cesped.jpeg);
}

.pawBuscaminas td.visibleBomba{
    background-image: url(../imagenes/bombdeath.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.pawBuscaminas td.visibleNumero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../imagenes/cesped.jpeg);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.pawBuscaminas td.visibleBombaDisable{
    background-image: url(../imagenes/bomb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px){
    .pawBuscaminas{
        width: 100%;
    }
    
    h1{
    font-size: 25px;
    text-align: center;
    width: 40%;
    margin-bottom: 0.5em;    
    }
    .pawBuscaminas .panelDeControl{
    font-size: 20px;
    width: 60%;
    margin-top: 0.5em;
    padding: 0.25em;
    }
    .pawBuscaminas td{
        height: 2em;
        width: 2em;
    }

}